@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>

<!-- Lecturer Role -->
@if (User.IsInRole("Lecturer"))
{
    <form asp-controller="Home" asp-action="ViewClaimByLecturer" method="post">
        <button class="form-btn" type="submit">
            Lecturer Dashboard
        </button>
    </form>
}

<!-- Manager Role -->
@if (User.IsInRole("Manager"))
{
    <form asp-controller="Claims" asp-action="Track" method="get">
        <button class="form-btn" type="submit">
            Academic Managers/Programme Coordinator Dashboard
        </button>
    </form>
}

<!-- HR Role -->
@if (User.IsInRole("HR"))
{
    <form asp-controller="HR" asp-action="Index" method="get">
        <button class="form-btn" type="submit">
            Human Resources Dashboard
        </button>
    </form>
}

<!-- Not logged in or no roles -->
@if (!User.Identity.IsAuthenticated)
{
    <h1>YOU ARE NOT REGISTERED OR LOGGED IN</h1>
}

