<h1>Register as:</h1>
<a asp-action="RegisterLecturer" asp-controller="Account" class="btn btn-primary">Lecturer</a>
<a asp-action="RegisterManager" asp-controller="Account" class="btn btn-secondary">Manager</a>
<a asp-action="RegisterHR" asp-controller="Account" class="btn btn-danger">HR</a>
