@model ONELLOTARJANNEST10178800PROG6212POEPART2.Controllers.LoginViewModel

<h1>Login</h1>

<div class="cardi">
    <div class="card-body">
        <h5 class="card-title">Login to Your Account</h5>

        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    Remember me
                </label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
